<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
    <h1><u>List of Books</u></h1>
    <a href="#">Create New Book</a>
    <table border="1" style="border-collapse: collapse">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Action</th>
            <th>Thumbnail</th>
        </tr>
        <tr th:each="book:${books}">
            <td>[[${book.id}]]</td>
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getAuthor()}"></td>
            <td th:text="${book.getPublisher()}"></td>
            <td>thumbnail</td>
            <td>
                <a href="#"><button>View</button></a>
                <a href="#"><button>Update</button></a>
                <button>Delete</button>
            </td>

        </tr>

    </table>
</body>
</html>